*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  
}
.content{
  height: 100vh;
}

.navbar{
  background-color: #00b894 !important;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  box-shadow: 0 0 3px gray;
}

.btn-success1{
  background-color: #00b894 !important;
    border: none;
    color:#FFFFFF;
}

.bg-darks{
  background-color: rgb(59, 61, 60);
}

.ant-input:hover {
  border-color: #00b894 !important;
}

.ant-input:focus {
  border-color: #00b894 !important;
}

.ant-select-selector:hover{
  border-color: #00b894 !important;
}
.ant-select-selector:focus{
  border-color: #00b894 !important;
}

.btn-successly {
  background-color: #00b894 !important;
  border: none;
  color: #FFFFFF;
  width: 100%;
}
.ant-modal-title{
  color:#00b894 !important;
  font-size: 25px !important;
  text-align: center !important;
}

.anticon{
  color: #00b894;
}


.ant-table-thead .ant-table-cell{
  background-color: #a9f5e6 !important;
}
.ant-spin-dot-item {
  background-color: #00b894 !important;
}

.anticon-area-chart {
  font-size: 25px;
}
.anticon-unordered-list{
  font-size: 25px;
}

.active-icon{
  color:black;
}
.inactive-icon{
  color:#00b894;
}

.switch-icons{
  /* border: 1px solid #00b894; */
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 0 3px #00b893b7;
}
.card{
  border: none;
box-shadow: rgba(123, 124, 123, 0.3) 0px 4px 12px;
}
.card-header{
  background-color: #00b894;
  color: white;
  font-size: 18px;
}

.incomeText span{
  color: #00b894 !important;
}

.catAnalytics{
  margin: 3px 15px;
}
